:root {
   --color-neutral-light:#e4e2e9;
   --color-neutral-medium:#8c8894;
   --color-neutral-dark:#423f4a;

   --color-main-light:#ede3f0;
   --color-main-medium:#792a84;
   --color-main-dark:#4c1c54;
   --color-main-tone:#7d5f82;

   --color-secondary-light:#f8eaf4;
   --color-secondary-medium:#c658a5;
   --color-secondary-dark:#512547;
   --color-secondary-tone:#99728e;

   --color-accent-light:#f8f9e5;
   --color-accent-medium:#d7df27;
   --color-accent-dark:#373917;
   --color-accent-tone:#959768;

   --color-text-light:#8ca19b;
   --color-text-dark:#1c4436;


   --color-white:#fff;
   --color-black:#111;


   --font-display: 'Mountains of Christmas', sans-serif; 
   --font-sans: 'Quicksand', sans-serif;
}

body {
	background:var(--color-secondary-light);
}


/* PRODUCT IN LIST */

.product {
	margin:0;
	/*padding:1em;*/
	box-shadow:0 0 10px rgba(0,0,0,0.1);
	border-radius:1em;
	position:relative;
	overflow:hidden;
	background-color:var(--color-white);
	display:inline-block;
	transition:all 0.3s;
	font-weight:normal;
}

.product:hover {
	text-decoration: none;
	box-shadow:0 0 10px rgba(0,0,0,0.5);

}

.product-image img {
	max-width:100%;
	vertical-align: middle;
}

.product-caption {
	padding:1em;
}

.product-price {
	font-size:1.3em;
	font-family:var(--font-sans);
	font-weight:bolder;
	text-decoration:none;
}

.product-title {
	font-size:0.9em;
	text-decoration:none;
}

/* COLOR CHIP */

.color-chip {
	margin:0.2em;
	text-align:center;
}

.color-label {
	font-weight:bold;
	text-align:center;
}

/* NAV */

.navbar {
	background: linear-gradient(to left, #6a1787, #2e0a3a);
	color:var(--color-white);
}